@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap");

* {
  font-family: "Dosis", sans-serif;
}

.navbar {
  background: #fbfbfb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;

  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .logo-box {
    display: flex;
    align-items: center;
    .logo {
      height: 50px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .menu-icon {
    display: none;
    font-size: 28px;
    color: #000000;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: rotate(90deg);
    }
  }

  .nav-items {
    display: flex;
    gap: 20px;
    list-style: none;
    transition: all 0.3s ease;

    li {
      .nav-link {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 17px;
        padding: 8px 14px;
        border-radius: 8px;
        position: relative;
        transition: background 0.3s ease;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }

        &.active {
          background: rgba(255, 255, 255, 0.25);
        }

        .icon {
          font-size: 16px;
        }
      }

      .logout {
        border: none;
        background: none;
        color: #000000;
        font-size: 17px;
        cursor: pointer;
        padding: 8px 14px;
        border-radius: 8px;
        transition: background 0.3s ease;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  /* --- MOBILE DESIGN --- */
  @media (max-width: 900px) {
    .menu-icon {
      display: block;
      z-index: 1100;
    }

    .nav-items {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 70%;
      background: #8cb5cd;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 100px 30px 30px;
      gap: 20px;
      transition: right 0.4s ease-in-out;

      &.open {
        right: 0;
      }

      li {
        width: 100%;

        .nav-link,
        .logout {
          width: 100%;
          text-align: left;
          font-size: 18px;
        }
      }
    }
  }
}
